body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
}
.quiz-selection-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.quiz-link {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #4CAF50;
    font-size: 20px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    padding: 10px;
}
.quiz-link:hover {
    background-color: #4CAF50;
    color: white;
}
.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}
.question {
    margin-bottom: 20px;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
